html,body {
  font-family: 'Trispace', sans-serif;
  text-rendering: optimizeSpeed;
  font-weight: 200;
  font-size: calc(.7vw);
  background: black;
  color: white;
  letter-spacing: .1em;
  word-spacing: 1em;
  white-space: nowrap;
  position: relative;
  text-align: left;
  width: 20%;
  margin: 0;
  line-height: 1.6

}

a {
  color: #a078db;
}
a:hover {
  color: #c6aee9;
}